*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgray;
    align-items: center;
    display: flex;
}
.container{
    width: fit-content;
    height: fit-content;
}
form{
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 25%;
    width: fit-content;
}
#bluebar{
    background-color: #48A5EA;
    position:fixed;
    top: 0;
    border-right: 0;
    left: 0;
    width: 25%;
    height: 100%;
    padding: 1px;
    display: inline-flex;
}
h2{
    color: #48A5EA;
    padding: 10px;
}
#submit{
    border-radius: 20px;
    background-color: #48A5EA;
    color: white;
    border: #48A5EA;
    padding: 10px;
    margin-left: 70%;
}
#reset{    
    border-radius: 20px;
    background-color: white;
    color: grey;
    border: 0;
    padding: 10px;
}
button{
    display: inline-flex;
}
button:hover{
    outline: 1px solid #48A5EA;
}
.input-control{
    display: inline-flex;
    padding: 1%;
}
input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:1px solid lightgray;
    width: fit-content;
}
input:focus{
    outline: none;
    border-bottom:1px solid #48A5EA;
}
input:focus::placeholder{
    color: transparent;
}
#main-section{
    border-bottom: 1px solid lightgray;    
    border-top: 1px solid lightgray;
    width: fit-content;
}
div{
    margin: 5px;
}
i{
    color: transparent;
}
