*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
}
#display{
    display: block;
    margin: auto;
    border: 3px solid rgb(50, 50, 50);
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    padding: 5px;
}
h3{
    text-decoration: underline;
    text-align: center;
    padding: 3px;
}
p{
    padding: 5px;
    text-align: center;
    color: rgb(100, 100, 100);
}